<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifsul.playlist_mp3_app">

    <!-- Permissões -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>

    <application
        android:name="${applicationName}"
        android:label="playlist_mp3_app"
        android:icon="@mipmap/ic_launcher">

        <!-- Flutter embedding v2 -->
        <meta-data android:name="flutterEmbedding" android:value="2"/>
        <meta-data android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme"/>
        <meta-data android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
            android:value="true"/>

        <!-- MainActivity: usar o atalho com ponto -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Serviço foreground do audio_service -->
        <service
            android:name="com.ryanheise.audioservice.AudioService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>
</manifest>
